In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dargaville,NZ,2021-11-04 23:23:30,-35.9333,173.8833,59.02,96,100,5.64
1,1,Mataura,NZ,2021-11-04 23:23:30,-46.1927,168.8643,59.49,41,100,1.68
2,2,Ribeira Grande,PT,2021-11-04 23:23:31,38.5167,-28.7000,69.17,89,100,25.01
3,3,Busselton,AU,2021-11-04 23:23:31,-33.6500,115.3333,56.08,83,73,6.78
4,4,Bethel,US,2021-11-04 23:21:16,41.3712,-73.4140,43.66,64,1,3.44

In [3]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Configure gmaps to use your Google API key.
gmaps.configure(api_key= "AIzaSyCSvq21ysbevgWBHXfbvmAkKJs3yS-kXOs")

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Salinopolis,BR,2021-11-04 23:23:33,-0.6136,-47.3561,79.66,81,71,6.69
19,19,Atuona,PF,2021-11-04 23:23:36,-9.8000,-139.0333,78.08,65,33,15.57
20,20,Kapaa,US,2021-11-04 23:23:36,22.0752,-159.3190,80.58,76,90,5.01
29,29,Ixtapa,MX,2021-11-04 23:23:38,20.7000,-105.2000,84.22,79,48,5.01
32,32,Reconquista,AR,2021-11-04 23:23:39,-29.1500,-59.6500,80.56,58,17,6.44
33,33,Tanout,NE,2021-11-04 23:23:40,14.9709,8.8879,83.21,16,0,10.80
34,34,Formosa,AR,2021-11-04 23:19:19,-26.1775,-58.1781,87.78,55,0,8.05
35,35,Koumac,NC,2021-11-04 23:23:40,-20.5667,164.2833,77.49,59,75,8.48
39,39,Sabang,ID,2021-11-04 23:23:41,5.8933,95.3214,80.24,77,100,4.52
52,52,Touros,BR,2021-11-04 23:22:24,-5.1989,-35.4608,81.50,78,30,11.74

In [11]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
11  Salinopolis      BR     79.66  -0.6136  -47.3561
19       Atuona      PF     78.08  -9.8000 -139.0333
20        Kapaa      US     80.58  22.0752 -159.3190
29       Ixtapa      MX     84.22  20.7000 -105.2000
32  Reconquista      AR     80.56 -29.1500  -59.6500
33       Tanout      NE     83.21  14.9709    8.8879
34      Formosa      AR     87.78 -26.1775  -58.1781
35       Koumac      NC     77.49 -20.5667  164.2833
39       Sabang      ID     80.24   5.8933   95.3214
52       Touros      BR     81.50  -5.1989  -35.4608

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [24]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Salinopolis,BR,79.66,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
19,Atuona,PF,78.08,-9.8000,-139.0333,Villa Enata
20,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Ixtapa,MX,84.22,20.7000,-105.2000,Hotel Plaza Providencia
32,Reconquista,AR,80.56,-29.1500,-59.6500,Grand Hotel

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))